<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

 <bean id="repoDataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>com.mysql.jdbc.Driver</value>
    </property>
    <property name="url">
      <value>jdbc:mysql://localhost:3306/db_lms?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true</value>
    </property>
    
    <property name="username">
      <value>root</value>
    </property>
    <property name="password">
      <value>123456</value>
    </property>
  </bean>
  <!-- jndi连接池  -->
  <!--
    <bean id="repoDataSource"
    class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName">
    <value>java:comp/env/jdbc/sample</value>
    </property>
    <property name="expectedType">
    <value>javax.sql.DataSource</value>
    </property>
    <property name="resourceRef">
    <value>true</value>
    </property>
    </bean>
  -->
  <bean id="repoSessionFactory"
    class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource">
      <ref local="repoDataSource" />
    </property>
    <property name="useTransactionAwareDataSource">
      <value>true</value>
    </property>
    <property name="mappingResources">
        <list><!-- 
            <value>com/mysystem/portal/beans/Code.hbm.xml</value>
            <value>com/mysystem/portal/beans/Subscribe.hbm.xml</value>
            <value>com/mysystem/portal/beans/ContEdu.hbm.xml</value>
            <value>com/mysystem/portal/beans/Member.hbm.xml</value> -->
        </list>
    </property>
    <property name="mappingDirectoryLocations">
        <list><!-- 
            <value>classpath:/com/mysystem/support/hibernate</value> -->
        </list>
        </property>
    <property name="hibernateProperties">
      <props>
        <!-- 这个sql适配器被换成自定义的了，主要是为了支持中文排序 -->
        <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
        <prop key="hibernate.connection.autocommit">true</prop>
        <prop key="hibernate.connection.charSet">utf-8</prop>
        <prop key="hibernate.show_sql">false</prop>
      </props>
    </property>
  </bean>
  <bean id="repoTransactionManager"
    class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="dataSource">
      <ref local="repoDataSource" />
    </property>
    <property name="sessionFactory">
      <ref local="repoSessionFactory" />
    </property>
    <property name="nestedTransactionAllowed">
      <value>true</value>
    </property>
    <property name="rollbackOnCommitFailure">
      <value>true</value>
    </property>
  </bean>
	<bean id="repoJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="repoDataSource"></property>
	</bean>
	<bean id="repoCRUDJdbcDao" class="github.chenxh.core.dao.BaseCRUDDao">
	   <property name="jdbcTemplate" ref="repoJdbcTemplate"></property>
	   <property name="sessionFactory" ref="repoSessionFactory"></property>
	   <property name="transactionManager" ref="repoTransactionManager"></property>
	</bean> 
  <!-- 公共的JDBC DAO类 -->
  
  
	<bean name="loginAction" class="github.chenxh.demo.LoginAction" scope="prototype"/>
    <bean name="jsonAction" class="github.chenxh.json.JsonAction" scope="prototype"/>
</beans>